@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(13, 13, 13);
  font-family: var(--font-sans);
}

h1, h2 {
  font-family: var(--font-playfair);
}
